<h2>Nationality List</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @factions.each do |faction| %>
  <tr>
    <td><%= faction.name %></td>
    <td><%= link_to 'Edit', edit_faction_path(faction) %></td>
    <td><%= link_to 'Delete', faction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faction', new_faction_path %>
